@import "~styles/variables";

.gg-game {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;

  .piece-stand-container {
    margin-left: $space * 15;
    display: flex;

    .piece-stand {
      margin-left: $space * 6;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
