@import "~styles/variables";

.gg-piece {
  &.piece {
    font-size: $font-size-large * 2;

    &.small {
      width: $space * 10;
      height: $space * 10;
    }

    &.medium {
      width: $space * 12.5;
      height: $space * 12.5;
    }

    &.large {
      width: $space * 15;
      height: $space * 15;
    }
    &.p1 {
      background-color: $gg-primary-color;
    }
    &.p2 {
      background-color: $gg-secondary-color;
    }

    &.is-dragging {
      opacity: 0.3;
    }
  }
}
