@import "~styles/variables";

.gg-piece-stand {
  padding: $space * 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $border-color-base;

  .piece-item {
    margin-top: $space * 2;

    &:first-child {
      margin-top: 0;
    }
  }
}
