@import '~styles/variables';

.gg_square {
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 2px solid $gg-primary-color;
  border-left: 2px solid $gg-secondary-color;

  &:nth-child(-n + 3) {
    border-top: 0;
  }

  &:nth-child(3n + 1) {
    border-left: 0;
  }
}
